.imageContainer {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  width: 100vw;
  height: 100vh;
}
#featured {
  max-width: 100%;
  max-height: 80%;
}
#lens {
  height: 125px;
  width: 125px;
  border: 2px solid black;
}
